@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'colors';
@import 'header';
@import 'home';
@import 'cart';
@import 'mediaQuery';
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: $primary;
}