@media screen and (max-width: 820px) {
  .cart {
    grid-template-columns: 1fr;

    > aside {
      border-radius: 100px 0 0 100px;
      background-color: $primary;
      color: $tertiary;
      height: 100%;
      width: 100%;
      box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.182);
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      border-radius: 0;
      > h2 {
        margin: 1rem;
        font: 100 1.2rem "Roboto";
        letter-spacing: 2px;
      }
    }
  }
}
